<div class="nav-wrap">
					<!-- Logo -->
						
				
	<nav id="nav" class="main-nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<!--<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a class="home-btn" href="{{ site.baseurl }}/index.html"><i class="fa fa-home"></i></a></li>-->
		<!--<li>
				<a href="">Privacy</a>
			</li>-->
					<!--<li><a href="{{ site.baseurl }}/biomass-management">Privacy</a></li>-->
					<li><a href="{{ site.baseurl }}/terms-and-conditions">Terms and Conditions</a></li>
					<li><a href="{{ site.baseurl }}/impressum">Imprint</a></li>
					
					<li><a href="{{ site.baseurl }}/biological-pest-and-disease-control">copyright@bestpractive.farm 2018</a></li>
			
		</ul>
		
	</nav>
	
	<h1 class="logo">
						<a href="/" id="logo">bestpractice<span class="highlight">.farm</span></a>
						</h1>
						
</div><!-- Nav -->
