<div class="nav-wrap">
					<!-- Logo -->

				
	<nav id="nav" class="main-nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<!--<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a class="home-btn" href="{{ site.baseurl }}/index.html"><i class="fa fa-home"></i></a></li>-->
		<!--<li>
				<a href="">Privacy</a>
			</li>-->
					<!--<li><a href="{{ site.baseurl }}/biomass-management">Privacy</a></li>-->
					<li class="eosta-logo"><a href="/" ><img class="eosta-footer" src="/assets/images/eosta.png"></a></li>

					<li><a href="/{{site.langs[page.language].lang-fragment}}/{{site.langs[page.language].link.terms-and-conditions}}">{{site.langs[page.language].link.terms-and-conditions-title}}</a></li>
					<li><a href="/{{site.langs[page.language].lang-fragment}}/impressum">Impressum</a></li>
					<li><a href="/{{site.langs[page.language].lang-fragment}}/legal/{{site.langs[page.language].link.privacy}}">{{site.langs[page.language].link.privacy-title}}</a></li>

					<li>copyright@bestpractice.farm 2018</li>
			
		</ul>
		
	</nav>
	
	<h1 class="logo">
						<a href="/" id="logo">bestpractice<span class="highlight">.farm</span></a>
						</h1>

						
</div><!-- Nav -->
