
<div class="nav">
	<div class="container ">
<div class="nav-wrap">
					<!-- Logo -->
						<h1 class="logo">
						<a href="/{{site.langs[page.language].lang-fragment}}" id="logo">bestpractice<span class="highlight">.farm</span></a>
						</h1>
						
				
	<nav id="nav" class="main-nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<!--<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a class="home-btn" href="{{ site.baseurl }}/index.html"><i class="fa fa-home"></i></a></li>-->
			<!--<li {% if current[1] == 'left-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/left-sidebar.html">About Us</a></li>-->
			<li>
				<a href="">{{site.langs[page.language].courses-title}}</a>
				<ul>
					<li>
						<a href="/{{site.langs[page.language].link.composting}}">			{{site.langs[page.language].link.composting-title}}
						</a>
					</li>
					<li>
						<a href="/{{site.langs[page.language].link.cover-crops}}">
							{{site.langs[page.language].link.cover-crops-title}}
						</a>
					</li>
					<li><a href="/{{site.langs[page.language].link.microbes}}">
						{{site.langs[page.language].link.microbes-title}}
						</a>
					</li>
					<li>
						<a href="/{{site.langs[page.language].link.erosion-control}}">	{{site.langs[page.language].link.erosion-control-title}}
						</a>
					</li>
					<li>
						<a href="/{{site.langs[page.language].link.pest-diseases}}">{{site.langs[page.language].link.pest-diseases-title}}
						</a>
					</li>
					<li>
						<a href="/{{site.langs[page.language].link.crop-rotation}}">
							{{site.langs[page.language].link.crop-rotation-title}}
						</a>
					</li>
					<li ><div class="languages"><a href="/en">EN</a> | <a href="/es">ES</a></div></li>
				</ul>
			</li>
			<!--<li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="{{ site.baseurl }}/blog">F.A.Q</a></li>-->
			<li {% if current[1] == 'no-sidebar.html' %}class='current'{% endif %}>
				<a href="/{{site.langs[page.language].lang-fragment}}/contact-us.html">
					{{site.langs[page.language].contact-title}}
				</a>
			</li>
		</ul>
		
	</nav>
	<nav class="main-nav">
	<ul class="nav-right ">
			<li ><a href="/en">EN</a> | <a href="/es">ES</a></li>
			<li id="login" class="login">
			<a href="/?__logout=1">Log out</a>
			<a href="/{{site.langs[page.language].lang-fragment}}/{{site.langs[page.language].link.composting}}">
			Login</a>
			</li>
			<li id="logout" class="login"><a href="/">Logout</a></li>
		</ul>
	</nav>
</div><!-- Nav -->
</div>
</div>
