<div class="nav-wrap">
					<!-- Logo -->
						<h1 class="logo">
						<a href="/" id="logo">bestpractice<span class="highlight">.farm</span></a>
						</h1>
						
				
	<nav id="nav" class="main-nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<!--<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a class="home-btn" href="{{ site.baseurl }}/index.html"><i class="fa fa-home"></i></a></li>-->
			<!--<li {% if current[1] == 'left-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/left-sidebar.html">About Us</a></li>-->
			<li>
				<a href="">Courses</a>
				<ul>
					<li><a href="{{ site.baseurl }}/composting-and-biomass-management">Composting + Biomass Management</a></li>
					<li><a href="{{ site.baseurl }}/cover-crops-and-mulch-management">Cover Crops</a></li>
					<li><a href="{{ site.baseurl }}/beneficial-microbes">Beneficial Microbes</a></li>
					<li>
						<a href="{{ site.baseurl }}/erosion-control">Erosion Control</a>

					</li>
					<li><a href="{{ site.baseurl }}/biological-pest-and-disease-control">Bioological pest + disease control</a></li>
					<li><a href="{{ site.baseurl }}/crop-rotation-and-tilage">Crop Rotation and Tilage</a></li>

				</ul>
			</li>
			<!--<li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="{{ site.baseurl }}/blog">F.A.Q</a></li>-->
			<li {% if current[1] == 'no-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/contact-us.html">Contact</a></li>
		</ul>
		
	</nav>
	<nav class="main-nav">
	<ul class="nav-right ">
			<!--<li ><a href="{{ site.baseurl }}/blog">EN | DE</a></li>-->
			<li id="login"><a href="{{ site.baseurl }}/composting-and-biomass-management">Login</a></li>
			<li id="logout"><a href="{{ site.baseurl }}/">Logout</a></li>
		</ul>
	</nav>
</div><!-- Nav -->
