<!-- Sidebar -->
<div id="sidebar" class="4u sidebar">

		<section>
			<header class="major">
				<img class="whatsapp" src="/assets/images/whatsapp.png"/>
				<h2 class="whatsapp-title">Whatsapp Channel</h2>
			</header>
			<div class="block">
				<br/>
				<p>We send you customised courses for your farming type daily to your mobile phone. Courses are easy and take just 7 minutes.</p>
				<h3>How to use:</h3>
							<ul class="points">
  <li class="whats-point"><span class="whats-num">1</span><span class="whats-title">Add one of the numbers below to your contacts.</span></li>
  <li class="whats-point"><span class="whats-num">2</span><span class="whats-title">Send “Start” on WhatsApp to it. Within 24 hours you will receive your first daily lesson.</span></li>
</ul>
</div>
<h3>Where to get Whatsapp:</h3>
<p>WhatsApp, also free-to-use, can be downloaded at the Apple App Store or Google Play. Make sure notifications are enabled.
To unsubscribe just message “STOP” or delete the contact. Anyway the messages will remain in your chat history. Please don`t send any further messages or questions, they can`t be answered.</p>

		</section>

		<section>
			<header class="major">
				<h2>Improving your crops</h2>
			</header>
			<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		</section>

	</div>
