/*
	Horizons by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/
.hero-title{
	font-size: 1.9rem;
}

#header{
background-position: center;
}

#banner{
	left: 0;
}
#header{
	height:90%;
}