---
layout: default
---

<!-- Header -->
			<div id="header" class="home">
				<div class="container">

					<!-- Logo -->
						<h1><a href="/" id="logo"><i class="fa fa-globe"></i>&nbsp;BioFarming</a></h1>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">

								<section>
								<header class="major">
						<div class="byline hero">{{ page.home-video-description }}</div>
					</header>
								<div class="row no-collapse-1 home-video">
						<div class="video-wrapper">
						<div class="video-container">
							<img id="videoImg" src="/assets/images/videoImg.jpg">
							<iframe id="videoPlayer" width="560" height="315" src="{{ page.home-video-url }}" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>


					</div>
									

								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			
			<!-- Main -->
			<!-- Featured -->
				<div class="wrapper style1 center">
					<section class="container">
						<header class="major">
							<h2>{{ page.home-triple-title }}</h2>
							</header>
							<div class="row">
										<section class="12u cat">

											<div class=" image">
												<a href="/biomass-management" class="image feature"><img src="{{ site.baseurl }}/assets/images/cat-1.jpg" alt=""></a>
											</div>
											<div class=" description">
												<div class="cat-title">{{ page.home-triple-point1-title }}</div>
												<p>{{ page.home-triple-point1 }}
												</p>
												<p>
												<strong class="subline">{{ page.home-triple-point1-b }}</strong>
												</p>
												<ul class="downloads">
													<li><a href="{{page.cat-pdf1}}"><i class="fa fa-download"></i>{{page.cat-pdf1-title}}</a></li>
													<li><a href="{{page.cat-pdf2}}"><i class="fa fa-download"></i>{{page.cat-pdf2-title}}</a></li>
												</ul>
												<div class="cta-wrapper"><a href="/biomass-management" class="button alt">{{ page.home-cta-title }}</a></div>
											</div>
										</section>
										<section class="12u cat">

											<div class=" image">
												<a href="/biomass-management" class="image feature"><img src="{{ site.baseurl }}/assets/images/cat-2.jpg" alt=""></a>
											</div>
											<div class=" description">
												<div class="cat-title">{{ page.home-triple-point2-title }}</div>
												<p>{{ page.home-triple-point2 }}
												</p>
												<p>
												<strong class="subline">{{ page.home-triple-point2-b }}</strong>
												</p>
												<ul class="downloads">
													<li><a href="{{page.cat-pdf1}}"><i class="fa fa-download"></i>{{page.cat-pdf1-title}}</a></li>
													<li><a href="{{page.cat-pdf2}}"><i class="fa fa-download"></i>{{page.cat-pdf2-title}}</a></li>
												</ul>
												<div class="cta-wrapper"><a href="/biomass-management" class="button alt">{{ page.home-cta-title }}</a></div>
											</div>
										</section>
										<section class="12u cat">

											<div class=" image">
												<a href="/biomass-management" class="image feature"><img src="{{ site.baseurl }}/assets/images/cat-3.jpg" alt=""></a>
											</div>
											<div class=" description">
												<div class="cat-title">{{ page.home-triple-point3-title }}</div>
												<p>{{ page.home-triple-point3 }}
												</p>
												<p>
												<strong class="subline">{{ page.home-triple-point3-b }}</strong>
												</p>
												<ul class="downloads">
													<li><a href="{{page.cat-pdf1}}"><i class="fa fa-download"></i>{{page.cat-pdf1-title}}</a></li>
													<li><a href="{{page.cat-pdf2}}"><i class="fa fa-download"></i>{{page.cat-pdf2-title}}</a></li>
												</ul>
												<div class="cta-wrapper"><a href="/biomass-management" class="button alt">{{ page.home-cta-title }}</a></div>
											</div>
										</section>
										<section class="12u cat">

											<div class=" image">
												<a href="/biomass-management" class="image feature"><img src="{{ site.baseurl }}/assets/images/cat-5.jpg" alt=""></a>
											</div>
											<div class=" description">
												<div class="cat-title">{{ page.home-triple-point4-title }}</div>
												<p>{{ page.home-triple-point4 }}
												</p>
												<p>
												<strong class="subline">{{ page.home-triple-point4-b }}</strong>
												</p>
												<ul class="downloads">
													<li><a href="{{page.cat-pdf1}}"><i class="fa fa-download"></i>{{page.cat-pdf1-title}}</a></li>
													<li><a href="{{page.cat-pdf2}}"><i class="fa fa-download"></i>{{page.cat-pdf2-title}}</a></li>
												</ul>
												<div class="cta-wrapper"><a href="/biomass-management" class="button alt">{{ page.home-cta-title }}</a></div>
											</div>
										</section>
										<section class="12u cat">

											<div class=" image">
												<a href="/biomass-management" class="image feature"><img src="{{ site.baseurl }}/assets/images/cat-4.jpg" alt=""></a>
											</div>
											<div class=" description">
												<div class="cat-title">{{ page.home-triple-point5-title }}</div>
												<p>{{ page.home-triple-point5 }}
												</p>
												<p>
												<strong class="subline">{{ page.home-triple-point5-b }}</strong>
												</p>
												<ul class="downloads">
													<li><a href="{{page.cat-pdf1}}"><i class="fa fa-download"></i>{{page.cat-pdf1-title}}</a></li>
													<li><a href="{{page.cat-pdf2}}"><i class="fa fa-download"></i>{{page.cat-pdf2-title}}</a></li>
												</ul>
												<div class="cta-wrapper"><a href="/biomass-management" class="button alt">{{ page.home-cta-title }}</a></div>
											</div>
										</section>


							</div>
			</section>
		</div>
		<div class="wrapper style2 center">
				<section class="container signup">

					
				
					<div class="row title-cta-wrap">

						<div class="title-cta">
							<h2>{{ page.home-title }}</h2>
							<div class="byline narrow">{{ page.home-description }}</div>

							<div class="cta-wrapper"><a href="/biomass-management" class="button alt">{{ page.home-video-cta-title }}</a></div>
						</div>

				</div>
				</section>

			</div>
				<div id="main" class="wrapper style1">

					<section class="container">
						<header class="major">
							<h2>{{page.usp-title}}</h2>
							<span class="byline">{{page.usp-sub-title}}</span>
						</header>
						<div class="row">

							<!-- Content -->
								<div class="6u">
									<section>
										<ul class="style">
											<li>
												<span class="fa fa-wrench"></span>
												<h3>{{ page.usp-sub-point1-title}}</h3>
												<span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim.</span>
											</li>
											<li>
												<span class="fa fa-cloud"></span>
												<h3>{{ page.usp-sub-point2-title}}</h3>
												<span>Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span>
											</li>
										</ul>
									</section>
								</div>
								<div class="6u">
									<section>
										<ul class="style">
											<li>
												<span class="fa fa-cogs"></span>
												<h3>{{ page.usp-sub-point3-title}}</h3>
												<span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim.</span>
											</li>
											<li>
												<span class="fa fa-leaf"></span>
												<h3>{{ page.usp-sub-point4-title}}</h3>
												<span>Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span>
											</li>
										</ul>
									</section>
								</div>

						</div>
					</section>
				</div>
			

	{{ content }}

	<script>

	// replace image with video and autoplay //
	$('#videoImg').click(function(){
			$(this).toggle();
	    $('#videoPlayer').toggle()
$('#videoPlayer').trigger('play')
	});

	// set banners height and position content with //

	var offsetAmount = window.innerHeight *0.8;


		var bannerOffset = function(){
			headerHeight = window.innerHeight *0.8;
			if($(window).width() > 500){
				if(headerHeight > 800){
					headerHeight = 800;
				}
			$('#header').css('height', headerHeight + 'px');
			var bannerHeight = $('#banner').height();
			var offset = headerHeight/2 - (bannerHeight) + 'px';
			$('#banner').css('margin-top', offset);
			}
		}
		//bannerOffset();
		$(window).resize(function(){
			$('#header').css('height', window.innerHeight *0.8+ 'px');
			//bannerOffset();
		});
	</script>
