---
layout: default
---

<!-- Header -->

			{% include nav.html %}
			
			<div id="header" class="home">
				
				<div class="container">				
					<!-- Banner -->
					<div class="container">

						<div id="banner">
								<section>
							

									<header class="major">
										<div class="byline hero">
											<h1 class="hero-title">{{page.usp-title}}</h1>
											<p class="desc">{{ page.usp-sub-title }}</p>
											<a href="#more-info" class="more">Find Out More</a>
										</div>
										</div>
									</header>
							<!--
								<div class="row no-collapse-1 home-video">
										<div class="video-wrapper">
											<div class="video-container">
											<img id="videoImg" src="/assets/images/video-plain.jpg">
											<iframe id="videoPlayer" width="560" height="315" src="{{ page.home-video-url }}" frameborder="0" allowfullscreen></iframe>
											</div>
										</div>
								</div>
							-->
							

								</section>
						</div>

				</div>
															

			</div>

<div class=""></div>

<div class="container text-center">
			<h2 class="intro">{{page.intro-title}}</h2>
	<div class="text-block-wrap">
		<div class="text-block">
		
		<h1>{{page.intro-description}}</h1>

		<p>{{page.intro-desc2}}</p>
		<br/>
		<br/>
		<br/>
	
	</div>
</div>
</div>
		<!-- Featured -->

			<!-- Main -->
			<!-- Featured -->
				<div id="more-info" class="wrapper style1 center">
					<section class="container courses">
						<header class="major">
							<h2 class="intro">{{ page.agricultural-themes-title }}</h2>
							</header>
							<div class="row">
										<div class="6u cat">
											<div class="inner">
												<div class=" image">
													<a href="{{page.agricultural-theme-1-link}}" class="image feature">
													<img src="/assets/images/agricultural-themes/small/{{page.agricultural-image-1}}" alt="">
												</a>
												</div>
												<div class=" description">
													<div class="cat-title">{{ page.agricultural-theme-1-title }}</div>
													<p>{{ page.agricultural-theme-1-description }}
													</p>
													<div class="cta-wrapper">
														<a href="{{page.agricultural-theme-1-link}}" class="more">{{ page.home-cta-title }}</a></div>
												</div>
											</div>
										</div>
										<div class="6u cat">
											<div class="inner">
												<div class=" image">
													<a href="{{page.agricultural-theme-2-link}}" class="image feature">
													<img src="/assets/images/agricultural-themes/small/{{page.agricultural-image-2}}" alt=""></a>
												</div>
												<div class=" description">
													<div class="cat-title">{{ page.agricultural-theme-2-title }}</div>
													<p>{{ page.agricultural-theme-2-description }}
													</p>
													
													<div class="cta-wrapper">
													<a href="{{page.agricultural-theme-2-link}}" class="more">{{ page.home-cta-title }}</a></div>
												</div>
											</div>
										</div>
							</div>
							<div class="row">
										<section class="6u cat">
											<div class="inner">
											<div class=" image">
												<a href="{{page.agricultural-theme-3-link}}" class="image feature">
												<img src="/assets/images/agricultural-themes/small/{{page.agricultural-image-3}}" alt=""></a>
											</div>
											<div class=" description">
												<div class="cat-title">{{ page.agricultural-theme-3-title }}</div>
												<p>{{ page.agricultural-theme-3-description }}
												</p>
												
												
												<div class="cta-wrapper">
													<a href="{{page.agricultural-theme-3-link}}" class="more">{{ page.home-cta-title }}</a></div>
											</div>
										</div>
										</section>
										<section class="6u cat">
											<div class="inner">
											<div class=" image">
												<a href="{{page.agricultural-theme-4-link}}" class="image feature">
												<img src="/assets/images/agricultural-themes/small/{{page.agricultural-image-4}}" alt="">
											</a>
											</div>
											<div class=" description">
												<div class="cat-title">{{ page.agricultural-theme-4-title }}</div>
												<p>{{ page.agricultural-theme-4-description }}
												</p>
																								<div class="cta-wrapper">
													<a href="{{page.agricultural-theme-4-link}}" class="more">{{ page.home-cta-title }}</a></div>
											</div>
										</div>
										</section>
										</div>
							<div class="row">
										<section class="6u cat">
											<div class="inner">

											<div class=" image">
												<a href="{{page.agricultural-theme-5-link}}" class="image feature">
												<img src="/assets/images/agricultural-themes/small/{{page.agricultural-image-5}}" alt=""></a>
											</div>
											<div class=" description">
												<div class="cat-title">{{ page.agricultural-theme-5-title }}</div>
												<p>{{ page.agricultural-theme-5-description }}
												</p>
												
												
												<div class="cta-wrapper">
													<a href="{{page.agricultural-theme-5-link}}" class="more">{{ page.home-cta-title }}</a></div>
											</div>
										</div>
										</section>
										<section class="6u cat">
											<div class="inner">

											<div class=" image">
												<a href="{{page.agricultural-theme-6-link}}" class="image feature">
												<img src="/assets/images/agricultural-themes/small/{{page.agricultural-image-6}}" alt=""></a>
											</div>
											<div class=" description">
												<div class="cat-title">{{ page.agricultural-theme-6-title }}</div>
												<p>{{ page.agricultural-theme-6-description }}
												</p>
												
												
												<div class="cta-wrapper">
													<a href="{{page.agricultural-theme-6-link}}" class="more">{{ page.home-cta-title }}</a></div>
											</div>
										</div>
										</section>


							</div>
			</section>
		</div>



	{{ content }}

	<script>
$(function() {
	$('.6u.cat .inner').matchHeight({
		byRow: true,
    	property: 'height'
	});
	$('.6u.cat .cat-title').matchHeight({
		byRow: true,
    	property: 'height'
	});
	$('.6u.cat p').matchHeight({
		byRow: true,
    	property: 'height'
	});

});
	// replace image with video and autoplay //
	$('#videoImg').click(function(){
			$(this).toggle();
	    $('#videoPlayer').toggle()
		$('#videoPlayer').trigger('play')
	});

	// set banners height and position content with //

	var offsetAmount = window.innerHeight *0.8;


		var bannerOffset = function(){
			headerHeight = window.innerHeight *0.95;

			$('#header').css('height', headerHeight + 'px');
			var bannerHeight = $('#banner').height();
			var offset = headerHeight/2 - (bannerHeight) + 'px';
			$('#banner').css('margin-top', offset);
		}
		bannerOffset();
		$(window).resize(function(){
			$('#header').css('height', window.innerHeight *0.8+ 'px');
			//bannerOffset();
		});
	</script>