---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="#" id="logo"><i class="fa fa-globe"></i>&nbsp;BioFarming</a></h1>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>{{ page.home-title }}</h2>
										<span class="byline">{{ page.home-description }}</span>
										<div class="cta-wrapper"><a href="#" class="button alt">{{ page.home-cta-title }}</a></div>
								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">
				<section class="container">
					<header class="major">
						<h2>{{ page.home-video-title }}</h2>
						<span class="byline">{{ page.home-video-description }}</span>
					</header>
					<div class="row no-collapse-1 home-video">
						<div class="video-wrapper">
						<div class="video-container">
								<iframe width="560" height="315" src="{{ page.home-video-url }}" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>


					</div>
					<div class="row title-cta-wrap">

						<div class="title-cta">
							<span class="byline">{{ page.home-video-description }}</span>
							<div class="cta-wrapper"><a href="#" class="button alt">{{ page.home-cta-title }}</a></div>
						</div>

				</div>
				</section>

			</div>
			<!-- Main -->
				<div id="main" class="wrapper style1">
					<section class="container">
						<header class="major">
							<h2>Nulla luctus eleifend</h2>
							<span class="byline">Mauris vulputate dolor sit amet nibh</span>
						</header>
						<div class="row">

							<!-- Content -->
								<div class="6u">
									<section>
										<ul class="style">
											<li>
												<span class="fa fa-wrench"></span>
												<h3>Integer ultrices</h3>
												<span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim.</span>
											</li>
											<li>
												<span class="fa fa-cloud"></span>
												<h3>Aliquam luctus</h3>
												<span>Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span>
											</li>
										</ul>
									</section>
								</div>
								<div class="6u">
									<section>
										<ul class="style">
											<li>
												<span class="fa fa-cogs"></span>
												<h3>Integer ultrices</h3>
												<span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim.</span>
											</li>
											<li>
												<span class="fa fa-leaf"></span>
												<h3>Aliquam luctus</h3>
												<span>Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span>
											</li>
										</ul>
									</section>
								</div>

						</div>
					</section>
				</div>
			<!-- Featured -->
				<div class="wrapper style2">
					<section class="container">
						<header class="major">
							<h2>{{ page.home-triple-title }}</h2>
							</header>
							<div class="row">
										<section class="4u">
											<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic02.jpg" alt=""></a>
											<div class="cat-title">{{ page.home-triple-point1-title }}</div>
											<p>{{ page.home-triple-point1 }}</p>
										</section>
										<section class="4u">
											<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic03.jpg" alt=""></a>
											<div class="cat-title">{{ page.home-triple-point2-title }}</div>
											<p>{{ page.home-triple-point2 }}</p>
										</section>
										<section class="4u">
											<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic04.jpg" alt=""></a>
											<div class="cat-title">{{ page.home-triple-point3-title }}</div>
											<p>{{ page.home-triple-point3 }}</p>
										</section>
										<section class="4u">
											<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic04.jpg" alt=""></a>
											<div class="cat-title">{{ page.home-triple-point4-title }}</div>
											<p>{{ page.home-triple-point4 }}</p>
										</section>
										<section class="4u">
											<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic04.jpg" alt=""></a>
											<div class="cat-title">{{ page.home-triple-point5-title }}</div>
											<p>{{ page.home-triple-point5 }}</p>
										</section>
										<section class="4u">
											<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic04.jpg" alt=""></a>
											<div class="cat-title">{{ page.home-triple-point6-title }}</div>
											<p>{{ page.home-triple-point6 }}</p>
										</section>
							</div>
			</section>
		</div>

	{{ content }}
