---
layout: main
---
<div class="user-content hide-user-content">
<div class="topic">
<div class="container">
			<header class="major">
							<h2>{{page.title}}</h2>
						</header>
			<img class="banner-image" src="{{page.banner-img}}"/>
			<header class="major">
					<span class="byline">{{page.sub-title}}</span>
			</header>

</div>

<!-- Main -->
	<div id="main" class="wrapper style1">

		<div class="container">

			<div class="row">

				<!-- Content -->
				<div id="content" class="12u skel-cell-important">
					<section class="narrower">
						<p class="strong">{{page.paragraph1}}</p>
						<br/>
						<div class="video-wrapper">
						<div class="video-container">
							
								<iframe width="560" height="315" controls=0 src="{{ page.cat-video-url }}" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
						<br/>
						<br/>
						{% if page.cat-video-url2 %}

						<p class="strong">{{page.paragraph2}}</p>
						<br/>
						<div class="video-wrapper">
						<div class="video-container">

								<iframe width="560" height="315" controls=0 src="{{ page.cat-video-url2 }}" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
						<br/>
						<br/>
						
						{% else %}

						{% if !hidePlaceholder   %}
						<p class="strong">{{site.placeholder-title}}</p>
						<br/>
						<img class="video-wrapper" src="/assets/images/placeholder.jpg"/>
						{% endif %}

						{% endif %}
						{% if page.cat-video-url3 %}

						<p class="strong">{{page.paragraph-3}}</p>
						<br/>
						<div class="video-wrapper">
						<div class="video-container">

								<iframe width="560" height="315" controls=0 src="{{ page.cat-video-url3 }}" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
						<br/>
						<br/>
						{% endif %}

						

					</section>

				</div>


			</div>
		</div>
	</div>
{% if page.poster %}
<div class="container wrapper">
	<p class="strong">{{page.paragraph-3}}</p>
	<br/>
	<object data="{{page.poster}}" type="application/pdf" class="pdf-embed {{page.iframeClass}}" >
  	<embed src="{{page.poster}} type="application/pdf" />
	</object>
	{% if page.poster2 %}
	<object data="{{page.poster2}}" type="application/pdf" class="pdf-embed {{page.iframeClass}}" >
		<embed src="{{page.poster2}} type="application/pdf" />
	  </object>
	{% endif %}
</div>
{% endif %}

{% if page.cat-pdf1 %}
<div class="wrapper style1">
	<section>													
						<header class="major">
							<h2>{{site.langs[page.language].downloads-title}}</h2>
						</header>
						<ul class="downloads">
							<li><a href="{{page.cat-pdf1}}"><i class="fa fa-download"></i>{{page.cat-pdf1-title}}</a></li>
							{% if page.cat-pdf2 %}
							<li><a href="{{page.cat-pdf2}}"><i class="fa fa-download"></i>
							{{page.cat-pdf2-title}}</a></li>	
							{% endif %}		
							{% if page.cat-pdf3 %}
							<li><a href="{{page.cat-pdf3}}"><i class="fa fa-download"></i>{{page.cat-pdf3-title}}</a></li>
							{% endif %}
							{% if page.cat-pdf4 %}
							<li><a href="{{page.cat-pdf4}}"><i class="fa fa-download"></i>{{page.cat-pdf4-title}}</a></li>
							{% endif %}
							{% if page.cat-pdf4 %}
							<li><a href="{{page.cat-pdf5}}"><i class="fa fa-download"></i>{{page.cat-pdf5-title}}</a></li>
							{% endif %}

						</ul>
					</section>
	</div>

	</div>
{% endif %}

{% if page.quiz-url %}
<div class="wrapper">
	<section>	
	<div class="text-center">
	<div class="inline-block">										
						<header class="major">
							<h2>{{site.langs[page.language].quiz-start-title}} </h2>
							<p>{{site.langs[page.language].quiz-start-desc}}</p>
						</header>


		<a class="typeform-share button" href="/{{site.langs[page.language].lang-fragment}}/{{page.quiz-url}}" >{{site.langs[page.language].quiz-btn-title}}</a> 
	
	
	</div>
</div>
{% endif %}
</section>
</div>
</div>


<div id="password-prompt">
	<h1>Please Enter your password to view content</h1>
	<from>
	<input id="username" type="text" placeholder="enter username"/>
	<input id="password"  type="password" placeholder="enter password"/>
	<button id="submit-password" type="button">Login</button>
	</from>
</div>
<script>
var blah = $('.pdf-embed');var parent = $('.pdf-embed').parent(); var parentWidth = $(parent).width(); $(blah).attr('width', parentWidth); $('.pdf-embed').remove(); $(parent).html(blah);
</script>


