---
layout: main
---

<div class="user-content hide-user-content">
<div class="topic">
<div class="container">
			<header class="major">
							<h2>{{page.title}}</h2>
						</header>
			<img src="{{page.banner-img}}"/>
			<header class="major">
					<span class="byline">{{page.sub-title}}</span>
			</header>

</div>

<!-- Main -->
	<div id="main" class="wrapper style1">

		<div class="container">

			<div class="row">

				<!-- Content -->
				<div id="content" class="12u skel-cell-important">
					<section class="narrower">
						<p class="sub-title">{{page.paragraph1}}</p>
						<br/>
						<div class="video-wrapper">
						<div class="video-container">
							
								<iframe width="560" height="315" controls=0 src="{{ page.cat-video-url }}" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
						<br/>
						<br/>
						{% if page.cat-video-url2 %}
						<p class="sub-title">{{page.paragraph2}}</p>
						<br/>
						<div class="video-wrapper">
						<div class="video-container">

								<iframe width="560" height="315" controls=0 src="{{ page.cat-video-url2 }}" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
						{% endif %}
						<br/>
						<br/>
						

					</section>

				</div>


			</div>
		</div>
	</div>
	{% if page.poster %}
<div class="container wrapper narrower">
	<strong><p class="strong">{{page.paragraph3}}</p></strong>
	<br/>
	<iframe src="{{page.poster}}" class="pdf-embed" frameborder="0"></iframe>
</div>
	{% endif %}
<div class="wrapper style1">
	<section>													
						<header class="major">
							<h2>Downloadable Documents</h2>
						</header>
						<ul class="downloads">
							<li><a href="{{page.cat-pdf1}}"><i class="fa fa-download"></i>{{page.cat-pdf1-title}}</a></li>
							<li><a href="{{page.cat-pdf2}}"><i class="fa fa-download"></i>{{page.cat-pdf2-title}}</a></li>			
							{% if page.cat-pdf3 %}
							<li><a href="{{page.cat-pdf3}}"><i class="fa fa-download"></i>{{page.cat-pdf3-title}}</a></li>
							{% endif %}


						</ul>
					</section>
	</div>

	</div>

</div>



<div id="password-prompt">
	<h1>Please Enter your password to view content</h1>
	<from>
	<input id="username" type="text" placeholder="enter username"/>
	<input id="password"  type="password" placeholder="enter password"/>
	<button id="submit-password" type="button">Login</button>
	</from>
</div>
<script>

	


</script>


